<div class="row justify-content-center mt-4 opacity">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="alert alert-success bg-dark text-white" *ngIf="issueReported"> <i class="material-icons">
                check_circle_outline
            </i> Issue Reported Successfully</div>
        <div class="card" *ngIf="!issueReported">
            <div class="card-body">
                <div class="page-title">Report An Issue</div>
                <form [formGroup]="reportIssueForm" (ngSubmit)="submitIssue()">
                    <div class="form-group mt-3 col-12">
                        <textarea rows="5" cols="50" class="form-control" formControlName="issue">
                            </textarea>
                    </div>
                    <div class="form-group col-6 text-center mt-3">
                        <input type="submit" class="btn bg-dark text-white form-control"
                            [disabled]="reportIssueForm.invalid" name="reportIssue" value="Report">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" *ngIf="!issueListOfUserEmpty">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h4>Recently Reported Issues
            </h4>
        </div>
        <div *ngFor="let issue of issueListOfUser">
            <div class="card">
                <div class="card-body col-lg-12 mt-2 mb-2">
                    <div class="card-header font-size-20">{{issue.issue}}</div>
                    <div class="card-body validation-error" *ngIf="issue.answer===null">
                        Not Responded By Admin
                    </div>
                    <div class="card-body" *ngIf="issue.answer!==null">
                        {{issue.answer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>